In [2]:
# import delle librerie
import pandas as pd
from sklearn import preprocessing
import numpy as np

In [3]:
# import dei dati , il separatore di default è la virgola ma in questo caso l'export
# di sql server inserisce il punto e virgola quindi usiamo sep = ';'
Amministrazioni = pd.read_csv('Amministrazioni.csv', sep = ';')
# importo solo la roba che mi serve
AttributiGruppi = pd.read_csv('AttributiGruppi.csv', sep = ';', usecols = ['IdTipoAttributo','IdGruppo','Ordine','Nome','IdStoreProcedure','DataSource','DataMember','necessario','Discriminante','Principale','IdSPverificaAttributo','Regex','IsEsteso'])

In [4]:
AttributiGruppi

,IdTipoAttributo,IdGruppo,Ordine,Nome,IdStoreProcedure,DataSource,DataMember,necessario,Discriminante,Principale,IdSPverificaAttributo,Regex,IsEsteso
0,1,30,1,albo,NaN,NaN,NaN,0.0,1,0,28.0,NaN,NaN
1,1,1347,1,albo,1.0,NaN,NaN,0.0,1,0,NaN,NaN,NaN
2,3,35,1,codAssCategoria,19.0,NaN,NaN,0.0,1,1,17.0,NaN,NaN
3,3,36,1,codAssCategoria,NaN,profiloUtente,codAssCategoria,0.0,1,1,NaN,NaN,NaN
4,3,47,1,codAssCategoria,NaN,profiloUtente,codAssCategoria,0.0,1,1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
911,5,1816,4,DataScadenza,-1.0,NaN,NaN,0.0,0,0,28.0,...,0.0
912,3,1816,5,TicketRichiesto,-1.0,NaN,NaN,0.0,0,0,-1.0,...,0.0
913,3,1816,6,TicketSN,-1.0,NaN,NaN,0.0,0,0,-1.0,...,0.0
914,1,758,1,codiceUnita,10.0,NaN,NaN,0.0,1,1,-1.0,...,0.0
915,1,1818,1,codiceUnita,537.0,NaN,NaN,0.0,1,1,-1.0,...,0.0

In [5]:
# ora che ho i dati che mi servono devo filtrare solo le righe che mi servono
indexNames = Amministrazioni[ (Amministrazioni['ConsoleRiferimento'] != 'ConsoleIntranet') & (Amministrazioni['esposizione'] == 0) ].index
Amministrazioni.drop(indexNames , inplace=True)

In [6]:
# Tolgo le colonne che non mi servono
Amministrazioni.drop(['Id','Descrizione','IdAmm','applicationsID','ordine','RichiedeProtocollo','dataCreazione','ConsoleRiferimento','esposizione'], axis=1, inplace=True)

In [7]:
Amministrazioni

,IdTipoAmm,IdGruppo,IdDominio,IdSpCercaGruppo,IdSpCercaDominio,IdSpGetIstanzeUtente,ParamCercaGruppo,ParamCercaDominio,ParamFiltroAttributo,IsSpGetIstanzeSimple
5,2,62,1,3.0,544.0,4.0,NaN,NaN,NaN,575.0
7,2,83,1,7.0,544.0,8.0,NaN,NaN,NaN,NaN
9,2,65,1,7.0,544.0,8.0,NaN,NaN,NaN,NaN
13,2,85,1,7.0,544.0,8.0,NaN,NaN,NaN,NaN
14,2,62,1,3.0,544.0,4.0,NaN,NaN,NaN,575.0
...,...,...,...,...,...,...,...,...,...,...
1550,2,375,1,538.0,544.0,8.0,NaN,NaN,NaN,NaN
1551,2,375,1,543.0,544.0,536.0,NaN,NaN,NaN,NaN
1552,2,1828,1,7.0,544.0,8.0,NaN,NaN,NaN,NaN
1553,2,1829,1,7.0,544.0,8.0,NaN,NaN,NaN,NaN
1555,2,1831,1,7.0,544.0,8.0,NaN,NaN,NaN,NaN

In [8]:
AttributiGruppi['Nome'].unique()

array(['albo', 'codAssCategoria', 'codFornitore', 'codFornitorePadre',
       'codPatronato', 'codPatronatoUffZon', 'codiceUnita',
       'userNamePadre', 'dataComunicazione', 'numeroIscrizioneAlbo',
       'appID', 'codiceRegione', 'CodiceUnita', 'codiceUsl', 'SedeMinLav',
       'CodiceEnte', 'CodiceANIA', 'CFServizioNA', 'CFServizio', 'cfCaf',
       'Ufficio', 'UfficioCaf', 'UfficioNA', 'AreaAAS', 'codiceProvincia',
       'LivelloDA16', 'codiceUnitaCE', 'CodiceUnitaINPS', 'codicePA',
       'tipoConsultazione', 'PermessiDURC', 'Permessi', 'codiceSA',
       'codiceSOA', 'CFConsSocCoop', 'CFSocCapoGruppo',
       'ProvinciaComunicazione', 'TerritorioCarab', 'IspettLavCarab',
       'PermessiCC', 'Specializzazione', 'DataScadenza',
       'codiceAvvocatura', 'SettoreAvvocatura', 'codicePermessoAmm',
       'userName', 'Ruolo', 'Abilitazioni', 'Struttura', 'struttura',
       'ApplicazionePOM', 'TipoAmministratore', 'AreaFunzionale',
       'TipoAccesso', 'TipoUtente', 'UnitaPrincipale', 'PoloFormativo',
       'Appid', 'FunzioniCPA', 'FunzioniHD', 'FunzioniProcedurale',
       'FunzioniRedattori', 'CodiceIncarico', 'AppID', 'AppId',
       'Servizio', 'EntePA', 'RaggStrutPA', 'StrutturaPA',
       'CodiceFiscaleAVCP', 'NumAutorizzazione', 'codiceRegioneIstat',
       'codiceASL', 'PermessiAmmGCD', 'TipoCertificatoGCD',
       'PermessiRevGCD', 'AreaApplicativaCSPA', 'servizioCSBI',
       'CodiceCAF', 'codiceArea', 'AREA_CRST', 'ABILITAZ_CRST',
       'TIPO_UTEN_CRST', 'TIPO_ADMIN_CRST', 'AreaAppCSPAPDD',
       'TipoGruppoISI', 'TipoAdmin', 'TipoUtenteCMC', 'CodiceDTL', 'Area',
       'FunzioneGPG', 'Responsabilita', 'Regione_Cod', 'Sede_Cod',
       'Gruppo', 'appLogOnAs', 'AmbienteLOA', 'ReferenteLOA',
       'CFCentroVol', 'UfficioCentroVol', 'ApplicazioneSDM',
       'ProvinciaIscrizione', 'numeroIscrizione', 'dataIscrizione',
       'SCRArea1SDM', 'SCRArea2SDM', 'PaAppartenenza', 'userDelegante',
       'Procedura', 'codiceUfficio', 'GRUPPO_COD', 'DIREZIONE_COD',
       'REGIONE_COD', 'Regione', 'CodiceEdificio', 'Ambito',
       'APPLICAZIONE', 'RuoloSiebel', 'CodiceCOR', 'CODICECOR',
       'ArcherContesto', 'UUID', 'ARPA_COD', 'UNIV_COD', 'INAIL_COD',
       'FonteDati_CAT', 'CFdittaSTP', 'Datoredilavoro', 'codiceunita',
       'codiceSede', 'GRUPPO_CODARCO', 'solaLettura', 'MPWSolaLettura',
       'MPWCodiceZonaAsl', 'CodiceApp', 'EntePSN', 'CodiceSede',
       'codiceUnitaCIVA', 'CodiceSettoreCIVA', 'CodiceAgenzia',
       'CFdittaSTPCEC', 'provinciaIscr', 'numIscr', 'tipoProf',
       'AreaApplicativa', 'ApplicazioneVerSist', 'SPP_Polo',
       'proceduraOrigine', 'codFedCasalinghe', 'codUffFedCas', 'UOT',
       'TitoloDiStudio', 'Certificazioni', 'codiceFiscaleAzienda',
       'codiceAsl', 'codiceAmb', 'TipoUtenteESP', 'Aree', 'Competenza',
       'CfTribunale', 'AreaTribunale', 'PartitaIVAStrOsp',
       'codAssociazione', 'CodicUnitaPoloPacs', 'RuoloC19', 'SNTicket',
       'RichiedenteLOA', 'TicketRichiesto', 'TicketSN'], dtype=object)

In [9]:
AttributiGruppi.head(3)

,IdTipoAttributo,IdGruppo,Ordine,Nome,IdStoreProcedure,DataSource,DataMember,necessario,Discriminante,Principale,IdSPverificaAttributo,Regex,IsEsteso
0,1,30,1,albo,NaN,NaN,NaN,0.0,1,0,28.0,NaN,NaN
1,1,1347,1,albo,1.0,NaN,NaN,0.0,1,0,NaN,NaN,NaN
2,3,35,1,codAssCategoria,19.0,NaN,NaN,0.0,1,1,17.0,NaN,NaN

In [10]:
X = AttributiGruppi.select_dtypes(include=[object])
X.head(3)

              Nome DataSource DataMember Regex
0             albo        NaN        NaN   NaN
1             albo        NaN        NaN   NaN
2  codAssCategoria        NaN        NaN   NaN

In [15]:
type(X)

pandas.core.frame.DataFrame

In [11]:
# 1. INSTANTIATE
# encode labels with value between 0 and n_classes-1.
le = preprocessing.LabelEncoder()


# 2/3. FIT AND TRANSFORM
# use df.apply() to apply le.fit_transform to all columns
X_2 = X.apply(le.fit_transform)
#X_2.head()

TypeError: Encoders require their input to be uniformly strings or numbers. Got ['float', 'str']

In [76]:
nome_encoder = preprocessing.OneHotEncoder() # creo encoder

tmp = nome_encoder.fit(AttributiGruppi[['Nome']]) # gli faccio leggere tutti i valori e preparare le conversioni
#tmp.categories_

#pd.set_option('display.max_columns', 10) #set per dataframe
#np.set_printoptions(threshold=np.inf) # set per numpy
#np.set_printoptions(threshold=6)

t = nome_encoder.transform(AttributiGruppi[['Nome']]).toarray() # faccio la conversione e la metto in t
# nome_encoder.categories_ # stampo le categorie create

#AttributiGruppi_df = pd.DataFrame(tmp.toarray())

#AttributiGruppi['Nome']= nome_encoder.fit_transform(AttributiGruppi['Nome'])
#AttributiGruppi

#AttributiGruppi = AttributiGruppi.join(enc_df)

[array(['ABILITAZ_CRST', 'APPLICAZIONE', 'AREA_CRST', ..., 'userDelegante',
        'userName', 'userNamePadre'], dtype=object)]

In [74]:
nome_encoder.inverse_transform([t[0]]) # transformazione inversa, da array a valore

array([['albo']], dtype=object)

In [80]:
nome_encoder.transform([t[0]])

ValueError: The number of features in X is different to the number of features of the fitted data. The fitted data had 1 features and the X has 169 features.

In [60]:
type(t)

numpy.ndarray

In [ ]:
convertire i dati alfanumerici in numerici
AttributiGruppi , Nome DataSource DataMember
Amministrazioni , ParamFiltroAttributo